h1{
    background-color: white;
    color: black;
    margin: 0 auto;
    top: 100px;
    text-align: center;
    border: solid rgb(3, 138, 138) 4px;
}

p{
    text-align: center;
    font-weight: bold;
}

table{
    margin: 0 auto;
}

th{
    text-align: center;
    border-top: dotted black;
    border-right: dotted black;
    font-weight: bold;
}

th,
td{

    border-bottom: dotted black;
    border-right: dotted black
}
