body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 100%;
    margin 0;
    display: flex;
    align-items: enter;
    justify-content: center;
    background-image: url("https://www.dreamincode.net/forums/uploads/monthly_04_2014/post-638814-139809061379.png");
}

h1{
    color: white;
    text-align: center;
    border: solid white 4px;
    padding: 5%;
}

p{
    color: rgb(3, 7, 87);
    text-align: center;
    font-weight: bold;
}

table{
    margin: 0 auto;
    width: 50%;
}

th{
    text-align: center;
    border: solid rgb(1, 7, 41);;
    font-weight: bold;
    background-color: rgb(1, 7, 41);
    color: white;
    text-transform: uppercase;
}

td{

    border: solid rgb(1, 7, 41) 4px;
    color: rgb(3, 7, 87);
}

strong{
    color:rgb(3, 7, 87);
}